.imageWrapper {
  position: relative;
}
.fullimage {
  width: 100%;
}

.commonbutton{
  border: none;
  width:80vw;
  height:10vh;
  border-radius: 10px;
  background-color: tomato;
  color:white;
}

.buttonwrapper{
  display: flex;
  justify-content: center;
}
